@import './Developers.vars.scss';

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.link {
  &:hover,
  &:active {
    color: $developers-link-outline-color;
  }
  
  &:focus-visible {
    color: $developers-link-outline-color;
    outline-color: $developers-link-outline-color;
  }
}

